<%= form_for(@user, url: yield(:url_text)) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.label "姓名" %>
  <%= f.text_field :name, class: 'form-control' %>

  <%= f.label "邮箱" %>
  <%= f.email_field :email, class: 'form-control' %>

  <%= f.label "密码" %>
  <%= f.password_field :password, class: 'form-control' %>

  <%= f.label "确认密码" %>
  <%= f.password_field :password_confirmation, class: 'form-control' %>

  <div class="form-group">
    <%= rucaptcha_input_tag(placeholder: '输入验证码') %>
    <%= rucaptcha_image_tag(class: 'image-box', alt: 'Captcha') %>
  </div>

  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>
