<%= form_for(@comment) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "发布新车评..." %>
  </div>
  <%= f.hidden_field :car_id, :value => @car.id %>
  <%= f.submit "发布", class: "btn btn-primary" %>
<% end %>
